html, body {
    height: 100%; /* 設置 HTML 和 body 的高度為 100%，確保能夠支持全頁居中 */
    margin: 0; /* 移除默認的邊距 */
}

div#img4 {
    display: grid;
    place-items: center; /* 將內容水平垂直都置中 */
    width: 650px;
    height: 50px;
    margin: 0 auto; /* 將容器本身水平居中 */
}
